/* Basic */
* {
	padding: 0px;
	margin: 0px;
}

/* Center container */
body {
	max-width: 100vw;
	height: 100vh;
	position: relative;
}

#center-container {
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%);
}

/* Game layout */

.col-md-8 {
	display: flex;
	justify-content: end;
}

.col-md-4 {
	/* background-color: blue; */
}

#game {
	background-color: #060743;
}

/* Score layout */